
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deportista</title>
</head>
<body>
    <div> 
        <form action="Deportista" method="post">
            <label>Edad: </label> <br />
            <input type="text" name="txtEdad" /> <br />
            <label>Estatura</label> <br />
            <input type="text" name="txtEstatura" /> <br />
            <label>Peso</label> <br />
            <input type="text" name="txtPeso" /> <br />
            <input type="submit" name="btnOpe" value="Deportista" />
        </form>
    </div>
</body>
</html>
