
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="Opera" method="post">
            <h1>PARCIAL IV OSCAR DANIEL RUIZ PINEDA </h1>
            <h2>Carnet: 2517182018</h2><br /><br />
            <input type="submit" name="btnDeportista" value="Deportista" /> <br /><br />
            <input type="submit" name="btnEstudiante" value="Estudiante" /><br /><br />
            <input type="submit" name="btNumeros" value="Numeros" /><br /><br />
            <input type="submit" name="btnCompra" value="Compra" /><br /><br />
         </form>
    </div>
</body>
</html>
